.banti {
    font-size: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    color: #272727;
    font-style: normal;
    line-height: normal;
}
.bancont{
     max-width: 400px;
}
.banner {
    background-color: #e554731b;
    padding: 30px 30px 0px 150px;
    width: 1100px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-pic {
    width: 400px;
    height: 500px;
}

.ban-descrip {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    display: flex;
    width: 550px;
    flex-direction: column;
}
.btn{
    color: white;
font-size: 20px;
font-weight: 700;
background-color: #e55473f7;
padding: 5px 10px;
border: 0;
}