.header {
    background-color: #E55473;
    
}
.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content {
    max-width: 500px;
}
.banner .profile-pic {
    width: 500px;
}
.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
