.banti {
    font-size: 90px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bantii {
    font-size: 90px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bantiii {
    font-size: 90px;
    margin-bottom: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0;
}



.bancont {
    max-width: 850px;
}
.banner {
    background-color: #e554731b;
    padding: 100px 150px 0px 350px;
    width: 2025px;
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.propic {
    width: 700px;
    height: 850px;
    padding: 0px 200px 0px 0px;
}

.ban-descrip {
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    width: 700px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
}

.btn {
    color: white;
    font-size: 30px;
    background-color: #e55473f7;
    padding: 30px 60px;
    border-radius: 8px;
    margin: 40px 0px;
    border: 0;
}

/*main section style*/
.about {
    width: 1900px;
    height: 850px;
    padding: 150px 250px 70px 250px;

}

.hp {
    max-width: 650px;
    padding: 0px 0px 50px 650px;
}

.sec {
    font-size: 50px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.secdes {
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    width: 700px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.nahid {
    padding: 0px 150px 0px 200px;
    display: flex;
    justify-content: space-around;

}

.nahid .img1 {
    width: 350px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 76px 0px 78px
}

.nahid .img2 {
    width: 350px;
    height: 430px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(9, 123, 172, 0.15);
    padding: 110px 76px 70px 78px
}

.nahid .img3 {
    width: 350px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 76px 0px 78px
}

.flowername {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.flowername .fl1 {
    padding: 30px 0px 0px 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #272727;
}

.flowername .fl2 {
    padding: 30px 20px 0px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #272727;
}

.flowername .fl3 {
    padding: 30px 120px 0px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #272727;
}

.abt {
    margin: 150px 135px 0px 190px;
    display: flex;
    justify-content: space-around;
    background-color: #27272715;
    padding: 100px;
    text-align: center;
}

.sale {
    margin: 600px 0px 0px 0px;
    width: 2025px;
    height: 550px;
    display: flex;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.05);
    padding: 50px 150px 0px 350px;
}

.sale .saletitle {
    font-size: 50px;
    font-weight: 800;
    color: black;
    margin: 170px 0px 30px 0px;
}

.sale .col {
    color: #E55473;
}

.salepara {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 23px;
    width: 700px;
    margin: 0px 0px 30px 0px;
}

.signbutton {
    border: none;
    border-radius: 8px;
    background: #E55473;
    padding: 25px 53px;
    color: white;
    font-size: 25px;
    font-weight: 250;
    margin: 0px 0px 0px 250px;
}

.sale .saleimg {
    padding: 50px 0px 0px 50px;
    width: 600px;
}

.insta {
    width: 1900px;
    height: 1150px;
    padding: 150px 250px 70px 250px;
}

.instagram {
    max-width: 650px;
    padding: 0px 0px 50px 650px;
}

.intitle {
    font-size: 50px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.indes {
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    width: 700px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.images {
    padding: 0px 0px 0px 250px;
}

.instaimg {
    padding-right: 30px;
}

.subscribe {
    background: url('../Flower\ Asset/rectangle9.png'), lightgray no-repeat;
    background-position: center;
    margin: 100px 0px 0px 250px;
    width: 77%;
    height: 435px;
     background-size: cover;
    background-repeat: no-repeat;
}

.subtitle {
    font-size: 50px;
    color: #272727;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 120px;
    text-align: center;
} 

.subdes {
    color: rgba(39, 39, 39, 0.60);
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}
.t{
    padding-left: 400px;
}
.email input{
    padding: 20px 130px 17px 20px;
    border: none;
    border-radius: 7px;
}
.subbutton{
    border: none;
    border-radius: 8px;
    background: #E55473;
    padding: 15px 33px;
    color: white;
    font-size: 20px;
    font-weight: 250;

}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 2525px;
    padding: 130px 0px;
}
.footer h1{
    font-size: 50px;
}
.footer h1 span{
   color: #E55473;
}
.footer p{
    padding: 30px 40%;
    color: darkgrey;
}
.footer h4{
    color: gray;
    font-weight: normal;
}